@model UserBooksViewModel

<h1>Оцените книги</h1>

<form asp-action="SubmitRatings" method="post">
    @for (int i = 0; i < Model.Books.Count; i++)
    {
        <div>
            <h3>@Model.Books[i].BookTitle</h3>
            <p>@Model.Books[i].BookAuthor</p>
            <p>@Model.Books[i].YearOfPublication</p>
            <p>@Model.Books[i].Publisher</p>
            <label for="liked">Понравилось:</label>
            <input type="hidden" asp-for="Books[i].ISBN" />
            <input type="checkbox" asp-for="Books[i].Liked" />
        </div>
    }
    <input type="hidden" asp-for="UserId" />
    <button type="submit">Отправить оценки</button>
</form>


<a href="/" class="btn btn-primary">Домой</a>
